.DS_Store
lab1/.idea
.jar
.class
lab3/SimpleDistributedFileSystem/.idea
lab3/SimpleDistributedFileSystem/.gradle
lab3/SimpleDistributedFileSystem/.settings
lab3/SimpleDistributedFileSystem/bin
lab3/SimpleDistributedFileSystem/build